:root {
    /* Primary */
    --clr-primary-cyan: hsl(172, 67%, 45%);  

    /* Neutral */
    --clr-neutral-darkcyan: hsl(183, 100%, 15%);
    --clr-neutral-darkgraycyan: hsl(186, 14%, 43%);
    --clr-neutral-graycyan: hsl(184, 14%, 56%);
    --clr-neutral-lightgraycyan: hsl(185, 41%, 84%);
    --clr-neutral-xlightgraycyan: hsl(189, 41%, 97%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff-primary: 'Space Mono', monospace;
    --fs-base: 1.5rem;
    --fw-bold: 700;
}

body {
    background-color: var(--clr-neutral-lightgraycyan);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 3rem 0 2rem 0;
}

main {
    background-color: var(--clr-neutral-white);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2rem;
}

@media (min-width: 900px) {
    header {
        padding: 10rem 0 5rem 0;
    }

    main {
        padding: 2rem 3rem;
    }
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}