:root {
    /* Primary */
    --clr-primary-cyan: hsl(172, 67%, 45%);  

    /* Neutral */
    --clr-neutral-darkcyan: hsl(183, 100%, 15%);
    --clr-neutral-darkgraycyan: hsl(186, 14%, 43%);
    --clr-neutral-graycyan: hsl(184, 14%, 56%);
    --clr-neutral-lightgraycyan: hwb(185 77% 9%);
    --clr-neutral-xlightgraycyan: hsl(189, 41%, 97%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff-primary: 'Space Mono', monospace;
    --fs-base: 1.5rem;
    --fs-text: 1rem;
    --fw-bold: 700;
}

body {
    background-color: var(--clr-neutral-lightgraycyan);
    font-family: var(--ff-primary);
    font-size: var(--fs-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 3rem 0 2rem 0;
}

main {
    background-color: var(--clr-neutral-white);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2rem;
    width: 100%;
}

@media (min-width: 900px) {
    body {
        padding-bottom: 13rem;
    }

    header {
        padding: 10rem 0 5rem 0;
    }

    main {
        padding: 2rem 2rem 2rem 3rem;
        width: 64%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        border-radius: 1.5rem;
        box-shadow: 0 24px 48px 2px rgb(0 0 0 / 0.1);
    }
}

.inputs {
    color: var(--clr-neutral-darkgraycyan);
    gap: 1.5rem;
}

.input-bill-wrapper, .input-people-wrapper {
    position: relative;
}

.inputs label {
    margin-bottom: 0.5rem;
}

.inputs input {
    background-color: var(--clr-neutral-xlightgraycyan);
    color: var(--clr-neutral-darkcyan);
    font-size: var(--fs-base);
    text-align: right;
    border: none;
    border-radius: 4px;
    padding: 0.4rem 1rem 0.4rem 0.5rem;
    caret-color: var(--clr-primary-cyan);
    width: 100%;
}

.inputs input:hover {
    cursor: pointer;
}

.inputs input:focus {
    outline: 2px solid var(--clr-primary-cyan);
}

.inputs input::placeholder {
    color: var(--clr-neutral-darkcyan);
    text-align: right;
}

.input-img {
    position: absolute;
    top: 48px;
    left: 16px;
}

.input-tip-item-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.input-tip-item {
    background-color: var(--clr-neutral-darkcyan);
    color: var(--clr-neutral-white);
    min-width: min(4rem, 9rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-base);
    border-radius: 4px;
}

.input-tip-item[data-tip="true"] {
    background-color: var(--clr-primary-cyan);
    color: var(--clr-neutral-darkcyan);
}

.input-tip-item:hover {
    background-color: var(--clr-neutral-lightgraycyan);
    color: var(--clr-neutral-darkcyan);
    cursor: pointer;
}

.error {
    outline: 2px solid red;
}

.people-error {
    display: none;
    color: red;
    position: absolute;
    right: 0;
}

@media (min-width: 900px) {
    .inputs {
        padding: 1rem 0;
        gap: 2.5rem;
    }

    .input-tip-item-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .input-tip-item {
        min-width: min(3rem, 6rem);
    }
}

.outputs {
    background-color: var(--clr-neutral-darkcyan);
    color: var(--clr-neutral-white);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    gap: 1.5rem;
}

.tip-amount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.per-person {
    color: var(--clr-neutral-graycyan);
    font-size: 0.8rem;
}

.tip-amount-output {
    color: var(--clr-primary-cyan);
    font-size: 2rem;
}

.reset {
    background-color: var(--clr-primary-cyan);
    color: var(--clr-neutral-darkcyan);
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0.5rem 0;
}

@media (min-width: 900px) {
    .outputs {
        /* min-width: 26rem; */
        margin-top: 0;
        padding: 2.5rem;
    }

    .tip-amount-output {
        font-size: 3rem;
    }

    .reset {
        margin-top: auto;
    }

    .reset[data-disabled="true"] {
        opacity: 0.2;
    }

    .reset:hover {
        background-color: var(--clr-neutral-lightgraycyan);
        color: var(--clr-neutral-darkcyan);
        cursor: pointer;
    }
}

/* Utilities */
.flex-group {
    display: flex;
    flex-direction: column;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}